![title](image/regressionBasic1.png)

Regression type problems:
       Output will be as Continuous variable like Height Weight or Price.

In [44]:
import pandas as pd

In [45]:
df=pd.read_csv("bangalore house price prediction OHE-data.csv")

In [46]:
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Data Split

In [47]:
x=df.drop(['price'],axis=1)

In [48]:
y=df['price']

In [49]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

# Random Forest Regression  (MSE)
RandomForestRegressor(
    n_estimators=100,
    *,
    criterion='mse',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features='auto',
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    bootstrap=True,
    oob_score=False,
    n_jobs=None,
    random_state=None,
    verbose=0,
    warm_start=False,
    ccp_alpha=0.0,
    max_samples=None,
)

In [52]:
from sklearn.ensemble import RandomForestRegressor

 #Using 1000 Trees in Forest
 #By default criterion is MSE (Mean squared value)

In [53]:
RFR=RandomForestRegressor(n_estimators=100,criterion='mse')

In [54]:
RFR.fit(xtrain,ytrain)

RandomForestRegressor()

In [55]:
RFR.score(xtest,ytest)

0.9325124047497151

Predict last house price from test dataset.

In [56]:
xtest.iloc[-1,:]

bath                              4.000000
balcony                           0.000000
total_sqft_int                 4624.500000
bhk                               4.000000
price_per_sqft                 6800.735215
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 3315, Length: 107, dtype: float64

In [57]:
#Predicted price
RFR.predict([xtest.iloc[-1,:]])

array([308.63])

In [58]:
ytest.iloc[-1]

314.5

All test data comparing with predicted price.

In [59]:
pred=RFR.predict(xtest)
pred

array([ 69.8013 ,  58.481  ,  25.7312 , ...,  49.96875, 403.93   ,
       308.63   ])

In [60]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using friedman_mse

In [61]:
RFR1=RandomForestRegressor(n_estimators=1000,criterion='friedman_mse') #Using 1000 Trees in Forest

In [62]:
RFR1.fit(xtrain,ytrain)

RandomForestRegressor(criterion='friedman_mse', n_estimators=1000)

In [63]:
RFR1.score(xtest,ytest)

0.9300216339746741

In [64]:
pred=RFR1.predict(xtest)
pred

array([ 69.76062,  58.55605,  25.96924, ...,  50.0773 , 402.477  ,
       309.544  ])

In [65]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using MAE (mean absolute error)

In [66]:
RFR2=RandomForestRegressor(n_estimators=200,criterion='mae') #Using 200 Trees in Forest

In [67]:
RFR2.fit(xtrain,ytrain)

RandomForestRegressor(criterion='mae', n_estimators=200)

In [68]:
RFR2.score(xtest,ytest)

0.9751430104028904

In [69]:
pred=RFR2.predict(xtest)
pred

array([ 69.9701  ,  58.181775,  25.99035 , ...,  50.02545 , 401.455   ,
       310.01    ])

In [70]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using poisson

In [71]:
RFR3=RandomForestRegressor(n_estimators=200,criterion='poisson')

In [72]:
RFR3.fit(xtrain,ytrain)

RandomForestRegressor(criterion='poisson', n_estimators=200)

In [73]:
RFR3.score(xtest,ytest)

0.8829139545800819

In [74]:
pred=RFR3.predict(xtest)
pred

array([ 69.82955 ,  58.52045 ,  28.02835 , ...,  47.908675, 384.735   ,
       388.855   ])

In [75]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64