![title](image/SVRBasic1.png)

![title](image/SVRBasic2.png)

![title](image/SVRBasic3.png)

Regression type problems:
       Output will be as Continuous variable like Height Weight or Price.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("bangalore house price prediction OHE-data.csv")

In [3]:
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Data Split

In [4]:
x=df.drop(['price'],axis=1)

In [5]:
y=df['price']

In [6]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
sc=StandardScaler()

In [11]:
sc.fit(xtrain)

StandardScaler()

In [12]:
xtrain_sc=sc.transform(xtrain)
xtest_sc=sc.transform(xtest)

In [13]:
xtrain_sc

array([[ 0.69102142,  0.01369791, -0.19859381, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891, -2.0403673 , -0.31904169, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891,  0.55253431, -0.46243203, ..., -0.05471275,
        -0.04782807, -0.04594768],
       ...,
       [ 5.24006273,  0.55253431,  1.51635463, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [ 0.69102142, -0.74391649,  0.36923193, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891, -0.74391649, -0.31904169, ..., -0.05471275,
        -0.04782807, -0.04594768]])

# Support Vector Regression  (RBF = Radial basis function )
SVR(
    *,
    kernel='rbf',
    degree=3,
    gamma='scale',
    coef0=0.0,
    tol=0.001,
    C=1.0,
    epsilon=0.1,
    shrinking=True,
    cache_size=200,
    verbose=False,
    max_iter=-1,
)

In [14]:
from sklearn.svm import SVR

In [15]:
SVR_sc_rbf=SVR(kernel='rbf')
SVR_sc_rbf.fit(xtrain_sc,ytrain)
SVR_sc_rbf.score(xtest_sc,ytest)

0.2408273404457042

All test data comparing with predicted price.

In [16]:
pred=SVR_sc_rbf.predict(xtest_sc)
pred

array([ 75.56691034,  59.59822344,  46.60916309, ...,  50.51483875,
       148.87685426,  85.72434421])

In [17]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Support Vector Regression using LINEAR kernel

In [18]:
SVR_sc_linear=SVR(kernel='linear',epsilon=10)
SVR_sc_linear.fit(xtrain_sc,ytrain)
SVR_sc_linear.score(xtest_sc,ytest)

0.8720271479518515

Single house price predict

In [19]:
xtest_sc[0]

array([-0.44623891, -0.74391649, -0.37639783, -0.55309608,  0.0629791 ,
        0.5749176 , -0.47011435, -0.25781186,  0.50405664,  5.4127509 ,
       -0.15873873, -0.14979193, -0.12160223, -0.12953656, -0.12812824,
       -0.12234347, -0.12598816, -0.12234347, -0.1208567 , -0.11472827,
       -0.1082724 , -0.10909925, -0.11314714, -0.10660036, -0.08823182,
       -0.09218776, -0.09023078, -0.08923672, -0.07975227, -0.08823182,
       -0.08514823, -0.08085949, -0.08409599, -0.07749158, -0.08085949,
       -0.07862985, -0.07633675, -0.07749158, -0.0739743 , -0.07153563,
       -0.0751646 , -0.07153563, -0.07028523, -0.07749158, -0.0751646 ,
       -0.06901264, -0.07028523, -0.07276497, -0.07028523, -0.07028523,
       -0.07028523, -0.0677166 , -0.06901264, -0.06639573, -0.0677166 ,
       -0.06226825, -0.0677166 , -0.06504853, -0.0677166 , -0.06639573,
       -0.06226825, -0.06639573, -0.06226825, -0.06639573, -0.05935999,
       -0.06083125, -0.06367332, -0.06226825, -0.05785186, -0.06367332,
       -0.06226825, -0.06083125, -0.06226825, -0.06226825, -0.05785186,
       -0.06639573, -0.05785186, -0.05935999, -0.05785186, -0.05935999,
       -0.06083125, -0.05471275, -0.05785186, -0.05935999, -0.06083125,
       -0.05138463, -0.06083125, -0.06083125, -0.05935999, -0.05935999,
       -0.06226825, -0.05935999, -0.06083125, -0.05471275, -0.05630391,
       -0.05785186, -0.05630391, -0.05138463, -0.05307449, -0.05630391,
       -0.05471275, -0.05935999, -0.05471275, -0.05307449, -0.05471275,
       -0.04782807, -0.04594768])

In [20]:
SVR_sc_linear.predict([xtest_sc[0]])

array([71.87542403])

Check  all house's prices

In [21]:
pred=SVR_sc_linear.predict(xtest_sc)
pred

array([ 71.87542403,  59.80331073,   2.07385452, ...,  50.37184906,
       339.06140628, 324.79031699])

In [22]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Support Vector Regression using POLY kernel

In [23]:
SVR_sc_poly=SVR(kernel='poly',degree=2,C=100) # c=Regularization parameter
SVR_sc_poly.fit(xtrain_sc,ytrain)
SVR_sc_poly.score(xtest_sc,ytest)

0.7448927502546929

In [24]:
pred=SVR_sc_poly.predict(xtest_sc)
pred

array([ 83.30288464,  69.2523575 ,  51.2743235 , ...,  73.50667013,
       379.18230042, 219.83897605])

In [25]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64