![title](image/regressionBasic1.png)

![title](image/regressionBasic2.png)

![title](image/regressionBasic3.png)

![title](image/regressionBasic4.png)

![title](image/regressionBasic1.png)

Regression type problems:
       Output will be as Continuous variable like Height Weight or Price.

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("bangalore house price prediction OHE-data.csv")

In [3]:
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Data Split

In [4]:
x=df.drop(['price'],axis=1)

In [5]:
y=df['price']

In [6]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

# Decision Tree Regression  (MSE)
DecisionTreeRegressor(
    *,
    criterion='mse',
    splitter='best',
    max_depth=None,
    min_samples_split=2,
    min_samples_leaf=1,
    min_weight_fraction_leaf=0.0,
    max_features=None,
    random_state=None,
    max_leaf_nodes=None,
    min_impurity_decrease=0.0,
    min_impurity_split=None,
    ccp_alpha=0.0,
)

In [9]:
from sklearn.tree import DecisionTreeRegressor

In [10]:
DTR=DecisionTreeRegressor()#By default criterion is MSE (Mean squared value)

In [11]:
DTR.fit(xtrain,ytrain)

DecisionTreeRegressor()

In [12]:
DTR.score(xtest,ytest)

0.9228493342299255

Predict last house price from test dataset.

In [13]:
xtest.iloc[-1,:]

bath                              4.000000
balcony                           0.000000
total_sqft_int                 4624.500000
bhk                               4.000000
price_per_sqft                 6800.735215
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 3315, Length: 107, dtype: float64

In [14]:
#Predicted price
DTR.predict([xtest.iloc[-1,:]])

array([325.])

In [15]:
ytest.iloc[-1]

314.5

All test data comparing with predicted price.

In [16]:
pred=DTR.predict(xtest)
pred

array([ 69.  ,  59.  ,  25.99, ...,  49.  , 408.  , 325.  ])

In [17]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using friedman_mse

In [18]:
DTR1=DecisionTreeRegressor(criterion='friedman_mse')

In [19]:
DTR1.fit(xtrain,ytrain)

DecisionTreeRegressor(criterion='friedman_mse')

In [20]:
DTR1.score(xtest,ytest)

0.9224785765532026

In [21]:
pred=DTR1.predict(xtest)
pred

array([ 70. ,  59. ,  26. , ...,  49.5, 425. , 325. ])

In [22]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using MAE (mean absolute error)

In [23]:
DTR2=DecisionTreeRegressor(criterion='mae')
DTR2.fit(xtrain,ytrain)
DTR2.score(xtest,ytest)

0.9799158832052001

In [24]:
pred=DTR2.predict(xtest)
pred

array([ 69.44,  59.  ,  25.  , ...,  52.  , 400.  , 330.  ])

In [25]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

# Finding root node using poisson

In [26]:
DTR3=DecisionTreeRegressor(criterion='poisson')
DTR3.fit(xtrain,ytrain)
DTR3.score(xtest,ytest)

0.9207461775912558

In [27]:
pred=DTR3.predict(xtest)
pred

array([ 70.  ,  59.  ,  30.  , ...,  36.85, 400.  , 400.  ])

In [28]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64