![title](image/knnregression.png)

Regression type problems:
       Output will be as Continuous variable like Height Weight or Price.

In [96]:
import pandas as pd

In [97]:
df=pd.read_csv("bangalore house price prediction OHE-data.csv")

In [98]:
df

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.00,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.00,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.00,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.00,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.00,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Data Split

In [99]:
x=df.drop(['price'],axis=1)

In [100]:
y=df['price']

In [101]:
y

0       150.00
1       149.00
2       150.00
3        40.00
4        83.00
         ...
7115    325.00
7116     84.83
7117     48.00
7118     55.00
7119     78.00
Name: price, Length: 7120, dtype: float64

In [102]:
from sklearn.model_selection import train_test_split

In [103]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.2,random_state=1)

# # KNN Regression 
KNeighborsRegressor(
    n_neighbors=5,
    *,
    weights='uniform',
    algorithm='auto',
    leaf_size=30,
    p=2,
    metric='minkowski',
    metric_params=None,
    n_jobs=None,
    **kwargs,
)

In [104]:
from sklearn.preprocessing import StandardScaler

In [105]:
KNNR=KNeighborsRegressor( n_neighbors=5)
KNNR.fit(xtrain,ytrain)
KNNR.score(xtest,ytest)

0.9417497413261103

In [106]:
pred=KNNR.predict(xtest)
pred

array([ 69.75 ,  59.   ,  25.158, ...,  50.298, 404.   , 301.8  ])

In [107]:
ytest

6711     70.0
823      58.4
3500     25.0
1537     36.0
513      38.3
        ...
4008     58.0
1564     58.4
6803     50.0
5390    399.0
3315    314.5
Name: price, Length: 1424, dtype: float64

In [108]:
xtest.iloc[-1,:]

bath                              4.000000
balcony                           0.000000
total_sqft_int                 4624.500000
bhk                               4.000000
price_per_sqft                 6800.735215
                                  ...
location_Hosur Road               0.000000
location_Horamavu Banaswadi       0.000000
location_Domlur                   0.000000
location_Mahadevpura              0.000000
location_Tumkur Road              0.000000
Name: 3315, Length: 107, dtype: float64

In [109]:
KNNR.predict([xtest.iloc[-1,:]])

array([301.8])

# Feature Scaling

In [110]:
sc=StandardScaler()

In [111]:
sc.fit(xtrain)

StandardScaler()

In [112]:
xtrain_sc=sc.transform(xtrain)
xtest_sc=sc.transform(xtest)

In [113]:
xtrain_sc

array([[ 0.69102142,  0.01369791, -0.19859381, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891, -2.0403673 , -0.31904169, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891,  0.55253431, -0.46243203, ..., -0.05471275,
        -0.04782807, -0.04594768],
       ...,
       [ 5.24006273,  0.55253431,  1.51635463, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [ 0.69102142, -0.74391649,  0.36923193, ..., -0.05471275,
        -0.04782807, -0.04594768],
       [-0.44623891, -0.74391649, -0.31904169, ..., -0.05471275,
        -0.04782807, -0.04594768]])

After scaling

# KNN Regression with Scaling

In [114]:
from sklearn.neighbors import KNeighborsRegressor

In [115]:
KNNR1=KNeighborsRegressor( n_neighbors=5)
KNNR1.fit(xtrain_sc,ytrain)
KNNR1.score(xtest_sc,ytest)

0.7135763350367356

All test data comparing with predicted price.

In [116]:
pred=KNNR1.predict(xtest_sc)
pred

array([ 76.6  ,  60.286,  37.38 , ...,  59.12 , 370.6  , 112.574])